body{
    background-color: rgb(250, 214, 214);
}
.main-header{
    text-align: center;
    font-size: 6vw;
    color: rgb(49, 47, 47);
    margin: 0;
}
.main-container{
    margin: 90px;
    display: flex;
    justify-content: flex-start;
    gap: 8.5vw;
}
.sketch-pad{
    width: 550px;
    height: 550px;
    border:solid 2px rgb(52, 40, 161);
    display: flex;
    flex-wrap: wrap;
}
.smallDivs{
    box-sizing: border-box;
   
}
.UI{
    display: flex;
    flex-direction: column;
    gap: 1vw;

    
}
.flexElements{
    display: flex;
    border: 1px solid black;
}
.sketchArea{
    display: flex;

}
.coloredDivs{
    background-color: red;
}
.buttonStyle{
    width: 200px;
    height: 40px;
    background-color: rgb(12, 12, 104);
    color: bisque;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 700;
}
.buttonStyle:hover{
    transform: scale(1.03);

 }
.texts{
    font-weight: 600;
} 